.all{
    align-items: center;
    font-size: large;
    margin: 10px;
    font-size: 30px;
}

.style {
    font-size: 50px;
    background-color: beige;
    width: fit-content;
    font-weight: 200;
}